---
import { Icon } from '@iconify/react/dist/iconify.js'
import LazyImage from '../ui/LazyImage'
const projects = [
    {
        name: "paywave",
        description: "lorem ipsum here",
        image: "revo"
    },
    {
        name: "paywave",
        description: "lorem ipsum here",
        image: "revo"
    },
    {
        name: "paywave",
        description: "lorem ipsum here",
        image: "revo"
    },

]
---

<div class="recent-projects space-y-10">
        <h2 class="text-5xl flex-col sm:flex-row md:text-7xl xl:text-8xl 2xl:text-[7rem] flex gap-2.5 md:flex-col uppercase font-extrabold items-center lg:items-start">
            <span class="tracking-tighter">Recent</span>
            <span class="text-gray-300 tracking-tighter">Projects</span>
        </h1>
        <div class="flex flex-col lg:justify-start gap-5 lg:gap-12">
            {projects.map((project) => (
                 <a class="flex justify-between text-center p-5 hover:bg-gray-50 transition-colors duration-500 rounded-2xl group" href={`/projects/${project.name}`}>
                    <div class="flex gap-5 items-center">
                        <LazyImage src={project.image} alt={project.name} className={"aspect-square w-28 lg:w-36 rounded-2xl"} client:load />
                        <div class="text-start">
                            <h3 class="text-2xl">{project.name}</h3>
                            <p class="text-gray-400">{project.description}</p>
                        </div>
                    </div>
                    <Icon icon={"fluent:arrow-up-right-16-regular"} className="text-2xl text-red-500 font-bold transition-transform duration-300 group-hover:-translate-y-1 group-hover:translate-x-1" client:load />
                 </a>
            ))}
        </div>
    </div>

    <script>
        import { gsap } from 'gsap';
        import { ScrollTrigger } from 'gsap/ScrollTrigger';
      
        gsap.registerPlugin(ScrollTrigger);
      
        window.addEventListener('load', () => {
        const container = document.querySelector('.recent-projects');
    
        gsap.fromTo(container, 
            {
            y: -50, 
            autoAlpha: 0
            }, 
            {
            y: 0,
            autoAlpha: 1,
            duration: 1,
            ease: 'power2.out',
            scrollTrigger: {
                trigger: container,
                start: 'top 70%',
                toggleActions: 'play none none none', 
                markers: false,
            }
            }
        );
        });
      </script>